@model InventorySys.Models.TblFormat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblFormat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormatSizeCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormatSizeCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormatActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormatActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FormatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
