@model InventorySys.Models.TblSite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblSite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SiteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
