@model InventorySys.Models.TblMaterialTransaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblMaterialTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialTransactionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialTransactionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialTransactionQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialTransactionQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialTransactionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialTransactionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material.MaterialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaterialTransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
